{include file="pub/header" /}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">新增商品</h1>
    <form action="{:url('goods/doAdd')}" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleInputEmail1">名字：</label>
        <input type="text" name="name" class="form-control">
      </div>
      <div>
        <label for="exampleInputEmail1">简介：</label>
        <input type="text" name="pro"  >  
      </div>
      <div>
        <label for="exampleInputEmail1">价格：</label>
        <input type="text" name="price"  >  
      </div>
      <div>
        <label for="exampleInputEmail1">图片：</label>
        <input type="file" name="img"  >  
      </div>
      <div class="form-group">
            <label for="exampleInputEmail1">标签：</label>
            
            <select name="tag_id">
                <option value="1">新品上市 </option>
                <option value="2">热卖 </option>
            </select>
        </div>
        <div>
          <script id="container" name="content" type="text/plain"></script>
        </div>
  <input type="submit"  value="提交"  class="btn btn-default"> 
</form> 
 <!-- 配置文件 -->
    <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>  
</div>
{include file="pub/left" /}